/* GENERAL CSS */

*{
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
}

.grid {
	display: grid;
	grid-template-columns: repeat( 10, 1fr);
	grid-auto-rows: 100px;
}

.grid div:nth-child(odd) {
	background-color: #eee;
}

body {
	margin-left: 250px;
	font-family: sans-serif;
	margin: 0;
}

/* END GENERAL CSS */





/* CSS FOR HEADER */
/* CODE FROM https://www.w3schools.com/howto/howto_css_sidebar_responsive.asp
- HAS TO BE CHANGED/ MADE OUR OWN */

/* The side navigation menu */
#sidebar1{
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 1;
}



/* Sidebar links */
#sidebar1 a{
  display: block;
  color: black;
  padding: 16px;
 }

/* Active/current link */
#sidebar1 a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
#sidebar1 a:hover:not(.active) {
  background-color: #555;
  color: white;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  #sidebar1{
    width: 100%;
    height: auto;
    position: relative;
  }
  #sidebar1 a {
  	float: left;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  #sidebar1 a {
    text-align: center;
    float: none;
  }
}

/* CSS FOR HEADER END*/



/*PAGE CONTENT CSS */

#bg-img{
width: 100%;
 position: static;
 left: 0px;
 top: 0px;
 z-index: -2;
}

#bg_dark_text{
	position: absolute;
	float: right;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-weight: bold;
	width: 50vw;
	font-size: 60px;
	padding: 5px;
	padding-right: 20px;

}

#small_header{
	font-size: 0.5em;
}

#index_header{
	position: float;
	margin-top: 0%;
	margin-left: 200px;
	z-index: 2;
}




/* CONTENT CSS END*/








/* RESPONSIVE NAVBAR /*/



.dropdown {
  float: left;
  overflow: hidden;
  width: 100%;
}

.dropdown .dropbtn {
  font-size: 16px;
  color: black;
  padding-left: 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: 100%;
  text-align: left;
}

.dropdown-content {
display: none; /*gjemmer dropdown*/
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  z-index: 1;

}

.dropdown-content a {
	float: none;
  color: black;
  padding: 16px;
  display: block;
  text-align: left;
}

.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}


  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
 /* new navbar */
.container {
	padding: 50px;
	margin: 0 auto;
	max-width: 1000px;
	text-align: center;
}

 #navBar {
	 width: 250px;
	 height: 100vh;
	 position: fixed;
	 background-color: #eee;
	 top: 0;
	 left: 0;
	 bottom: 0;
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between;
	 padding:;
 }

 .nav-brand {
	 text-align: center;
 }

 .footer {
	 text-align: center;
 }

.nav-items {
	padding-left: 0;
}

 .nav-items li {
 margin-bottom: 0px;
 text-align: left;
 }

 /* .nav-items li:hover {
	 cursor: pointer;
	 transform: scale(1.02);
 }
 */

 nav ul {
	 background: #eee;
	 height: 80%;
	 width: 100%;
	 border-radius: 4px;
	 list-style: none;
 }

 nav ul li {
	 line-height: 40px;
	 background-color:;
	 border-bottom: 4px solid gray;
 }

/* a elements of menu, text*/
 nav ul li a {
text-decoration: none;
font-size: 25px;
color: black;
padding: 4px;
padding-left: 30px;
border-left-color: green;
display: block;
font-weight: 400;
 }

 nav ul li a:hover {
	 color: pink;
 }

 nav ul ul {
	 position: static;
	 display: none;
 }

/* sub elements of menu*/
 nav ul ul li {
	 line-height: 25px;
	 border-bottom: none;
 }

nav ul ul li a {
	padding-left: 50px;
	font-size: 20px;
}

nav ul ul li a span {
	position: absolute;
	top: 50%;
	font-size: 100px;
}

nav ul .deg-vis.vis {
	display: block;
}

nav ul .ab-vis.vis {
	display: block;
}

/* kilde på kode om hamburgerknapp/responsiv meny for mobil:
www.youtube.com/watch?v=0EsWoEmkHog - James Q Quick
*/
#hamburgerKnapp {
	position: fixed;
	top: 30px;
	right: 30px;
	display:none;
	z-index: 10;
}

#hamburgerKnapp:hover {
	cursor: pointer;
}


 @media only screen and (max-width: 600px) {
	 #navBar {
		 width: 100vw;
		 transform: translateX(-1000px);
		 transition: transform 500ms;
	 }

	 #navBar.open {
		 transform: translateX(0);
	 }

	 .nav-items li  {
		 text-align: center;
	 }

	 #hamburgerKnapp {
		 display: inline-block;
	 }

 }

 }

/* END RESPONSIVE NAVBAR */










/*START FOOTER CSS*/

/*CODE FROM https://www.w3schools.com/howto/howto_css_fixed_footer.asp */


footer{
	width: 100vw; /*to fill the screen*/
	max-width: 100%; /* prevents horizontal overflow*/
	display: block; /*vi vil ha en kloss*/
	overflow: hidden; /*fordi vi skal ha noen floating elements*/
	background-color: #f1f1f1;
	box-sizing: border-box;
	z-index: 2;
	position: fixed;
	height: 95px;
	margin-top: 520px;
	padding-top: 20px;

}

footer .contact{
	float: right;
	padding-right: 20px;
}

footer p {
	text-align: center;
	padding-bottom: 5px;
	padding-left: 6px;
	color: black;
	font-size: 17px;
}


.fa {
	padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.8;
}

.fa-facebook {
  background-color: #3B5998;
  color: white;
}

.fa-twitter {
  background-color: #55ACEE;
  color: white;
}

#contact{
	color:white;
	font-size: 18px;
}

#byline{
	float: left;
}



/*END FOOTER CSS*/
